# development artifacts
.ssh

# node dependencies
node_modules
*-lock.json

# go dependencies
vendor

# build configurations
Makefile.properties

# build artifacts
bin
trivy.json

# config
config.yaml

# debugger
.vscode